html {
  font-family: system-ui, sans-serif, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  width: 80vw;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  border: 3px black solid;
  padding: 10px;
}

label, input, textarea {
  margin-bottom: 10px;
}
